aiohappyeyeballs
aiohttp
aiosignal
altair
antlr4-python3-runtime
anyio
attrs
blinker
CacheControl
cachetools
certifi
chardet
charset-normalizer
click
firebase-admin
Flask
Flask-Cors
frozenlist
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
googletrans
grpcio
grpcio-status
gTTS
h11
h2
hpack
hstspreload
httpcore
httplib2
httpx
hyperframe
idna
importlib_metadata
indic-nlp-library
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
msgpack
multidict
narwhals
numpy
openai
packaging
pandas
pillow
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydeck
Pygments
Pympler
pyparsing
python-dateutil
python-dotenv
pytz
referencing
requests
rfc3986
rich
rpds-py
rsa
six
smmap
sniffio
streamlit
tenacity
toml
tornado
tqdm
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
validators
watchdog
yarl
zipp
